*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    bottom: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
    color: #b6b6b6;
}

.container {
    width: 1000px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.php1 {
    display: grid;
    grid-template-columns: 60% 40%;
}

.title {
    padding: 20px 0;
}

.text, li {
    padding: 5px 0;
}

.color {
    font-weight: 600;
    color: #dcdcdc;
}

.link {
    color: #cdcdcd;
}

body {
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
}